<article *ngIf="meatType">
  <header><h2>{{meatType.name}}</h2></header>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col-6">
            popularity
          </div>
          <div class="col-6">
            <span>{{meatType.popularity}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-5 p-2">
            <fieldset *ngIf="meatProducts">
              <legend>meatType:</legend>
              <tr *ngFor="let meatProduct of meatProducts.meatProducts">

                <td>{{meatProduct.name}}</td>

              </tr>
            </fieldset>
          </div>
        </div>



      </div>
    </div>
  </div>
</article>
