<article *ngIf="meatType">
  <header><h2>Addd Type</h2></header>

  <form class="container"  #form="ngForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="name">Name:</label>
          <input id="name" name="name" [(ngModel)]="meatType.name"/>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 p-2">
        <div>
          <label for="popularity">populatiry:</label>
          <input id="popularity" name="popularity" [(ngModel)]="meatType.popularity"/>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Create</button>
      </div>

    </div>
  </form>
</article>
