<article *ngIf="meatProduct">
  <header><h2>{{meatProduct.name}}</h2></header>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="row mb-2">
          <div class="col-6">
            meatType
          </div>
          <div class="col-6">
            <span>{{meatProduct.meatType.id}}</span>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-6">
            meatTypeName
          </div>
          <div class="col-6">
            <span>{{meatProduct.meatType.name}}</span>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-6">
            intensity
          </div>
          <div class="col-6">
            <span>{{meatProduct.intensity}}</span>
          </div>
        </div>



      </div>
    </div>
  </div>
</article>
